# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Selenium Doc](https://www.selenium.dev/documentation/)
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `Selenium` and `pandas` are imported for you.

In [1]:
import pandas as pd
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver
import time
import selenium
from tqdm.notebook import tqdm
import warnings
warnings.simplefilter('ignore')

#### Enable the options you may need. In the next cell you have an example of them but you can choose to use them or not.

In [2]:
#driver configuration
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')

#### Download, parse, and print the content from the Trending Developers page from GitHub:

In [3]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'
PATH=ChromeDriverManager().install() 
driver=webdriver.Chrome(PATH, options= opciones)
driver.get(url)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 104.0.5112
[WDM] - Get LATEST chromedriver version for 104.0.5112 google-chrome
[WDM] - Driver [C:\Users\botic\.wdm\drivers\chromedriver\win32\104.0.5112.79\chromedriver.exe] found in cache

In [4]:
#your code
developers = [' ,(@'.join(driver.find_elements_by_class_name('col-md-6')[i].text.split('\n'))+')' 
              for i in tqdm(range(0,len(driver.find_elements_by_class_name('col-md-6')),2))]

  0%|          | 0/25 [00:00<?, ?it/s]

In [5]:
developers[:3]

['Azure SDK Bot ,(@azure-sdk)',
 'Joshie ,(@Joshua-Ashton)',
 'Ariel Mashraki ,(@a8m)']

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [6]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'
driver.get(url)

In [7]:
#your code
repos = [driver.find_elements_by_class_name('Box-row')[i].text.split('/')[1].split('\n')[0] 
             for i in tqdm(range(len(driver.find_elements_by_class_name('Box-row'))))]

  0%|          | 0/25 [00:00<?, ?it/s]

In [8]:
repos[:3], f'Se muestran 3 repos de {len(repos)}'

([' sqlmodel', ' poetry', ' Github-Ranking'], 'Se muestran 3 repos de 25')

#### Display all the image links from Walt Disney wikipedia page

In [9]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'
driver.get(url)

In [10]:
#your code
imgs =[driver.find_elements_by_tag_name('img')[i].get_attribute('src') for i in 
       tqdm(range(len(driver.find_elements_by_tag_name('img'))))]

  0%|          | 0/34 [00:00<?, ?it/s]

In [11]:
imgs[:3]

['https://upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8c/Extended-protection-shackle.svg/20px-Extended-protection-shackle.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [12]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python' 
driver.get(url)

In [13]:
#your code
links = [driver.find_elements_by_tag_name('a')[i].get_attribute('href') 
             for i in tqdm(range(1,len(driver.find_elements_by_tag_name('a'))))]

  0%|          | 0/154 [00:00<?, ?it/s]

In [14]:
links[:3]

['https://en.wikipedia.org/wiki/Python#mw-head',
 'https://en.wikipedia.org/wiki/Python#mw-head',
 'https://en.wikipedia.org/wiki/Python#searchInput']

#### Number of Titles that have changed in the United States Code since its last release point

In [15]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

driver.get(url)

In [16]:
#your code
tit_changed = [driver.find_elements_by_class_name('usctitlechanged')[i].text 
               for i in tqdm(range(len(driver.find_elements_by_class_name('usctitlechanged'))))]

  0%|          | 0/13 [00:00<?, ?it/s]

In [17]:
tit_changed

['Title 2 - The Congress',
 'Title 6 - Domestic Security',
 'Title 15 - Commerce and Trade',
 'Title 26 - Internal Revenue Code',
 'Title 33 - Navigation and Navigable Waters',
 'Title 34 - Crime Control and Law Enforcement',
 "Title 38 - Veterans' Benefits ٭",
 'Title 40 - Public Buildings, Property, and Works ٭',
 'Title 41 - Public Contracts ٭',
 'Title 42 - The Public Health and Welfare',
 'Title 44 - Public Printing and Documents ٭',
 'Title 47 - Telecommunications',
 'Title 51 - National and Commercial Space Programs ٭']

#### A Python list with the top ten FBI's Most Wanted names

In [18]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'
driver.get(url)

In [19]:
#your code 
most_wanted = [driver.find_elements_by_class_name('title')[i].text 
                   for i in tqdm(range(1,len(driver.find_elements_by_class_name('title'))))]

  0%|          | 0/10 [00:00<?, ?it/s]

In [20]:
most_wanted

['ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'YULAN ADONAY ARCHAGA CARIAS',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'OMAR ALEXANDER CARDENAS',
 'ALEJANDRO ROSALES CASTILLO',
 'RUJA IGNATOVA',
 'JASON DEREK BROWN',
 'ARNOLDO JIMENEZ',
 'RAFAEL CARO-QUINTERO']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [21]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'
driver.get(url)

In [22]:
#your code
date = [driver.find_elements_by_tag_name('a')[i].text for i in tqdm(range(len(driver.find_elements_by_tag_name('a'))-1)) 
        if len(driver.find_elements_by_tag_name('a')[i].text) > 22][:-1]

lat = [driver.find_elements_by_class_name('tabev1')[i].text.strip() 
       for i in tqdm(range(0,len(driver.find_elements_by_class_name('tabev1')),2))]

long = [driver.find_elements_by_class_name('tabev1')[i].text.strip() 
        for i in tqdm(range(1,len(driver.find_elements_by_class_name('tabev1')),2))]

lat_2 = [driver.find_elements_by_class_name('tabev2')[i].text.strip() 
         for i in tqdm(range(0,len(driver.find_elements_by_class_name('tabev2')),3))]

long_2 = [driver.find_elements_by_class_name('tabev2')[i].text.strip() 
          for i in tqdm(range(1,len(driver.find_elements_by_class_name('tabev2')),3))]

lat_c = [lat[i] + ' ' + lat_2[i] for i in tqdm(range(len(lat)))]

long_c = [long[i] + ' ' + long_2[i] for i in tqdm(range(len(long)))]

depth = [driver.find_elements_by_class_name('tabev3')[i].text 
         for i in tqdm(range(len(driver.find_elements_by_class_name('tabev3'))))]

mag = [driver.find_elements_by_class_name('tabev2')[i].text 
       for i in tqdm(range(2,len(driver.find_elements_by_class_name('tabev2')),3))]

reg = [driver.find_elements_by_class_name('tb_region')[i].text 
       for i in tqdm(range(len(driver.find_elements_by_class_name('tb_region'))))]

data_dic = {'Date': date,
           'Lat': lat_c,
           'Long' : long_c,
           'Depth' : depth,
           'Mag': mag,
           'Region': reg}

df = pd.DataFrame(data_dic)

df.head()

  0%|          | 0/144 [00:00<?, ?it/s]

  0%|          | 0/50 [00:00<?, ?it/s]

  0%|          | 0/50 [00:00<?, ?it/s]

  0%|          | 0/50 [00:00<?, ?it/s]

  0%|          | 0/50 [00:00<?, ?it/s]

  0%|          | 0/50 [00:00<?, ?it/s]

  0%|          | 0/50 [00:00<?, ?it/s]

  0%|          | 0/50 [00:00<?, ?it/s]

  0%|          | 0/50 [00:00<?, ?it/s]

  0%|          | 0/50 [00:00<?, ?it/s]

,Date,Lat,Long,Depth,Mag,Region
0,2022-09-01 11:22:17.0,12.51 N,83.76 W,116,4.1,NICARAGUA
1,2022-09-01 11:21:11.9,31.40 N,131.62 E,30,4.7,"KYUSHU, JAPAN"
2,2022-09-01 11:10:16.1,36.47 N,121.05 W,7,2.1,CENTRAL CALIFORNIA
3,2022-09-01 11:03:40.0,7.88 S,118.76 E,42,2.8,FLORES SEA
4,2022-09-01 10:08:47.4,19.42 N,155.28 W,1,2.4,"ISLAND OF HAWAII, HAWAII"

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [23]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/elchiringuitotv?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor'

driver.get(url)

time.sleep(3)

driver.find_element_by_xpath('//*[@id="layers"]/div/div[2]/div/div/div/div[2]/div[1]/div/span/span').click()

In [24]:
#your code

num_tweets = driver.find_element_by_xpath('//*[@id="react-root"]/div/div/div[2]/main/div/div/div/div[1]/div/div[1]/div[1]/div/div/div/div/div/div[2]/div/div').text
num_tweets

'607,2 mil Tweets'

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [25]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
#url = 'https://twitter.com/'

In [26]:
#your code

followers = driver.find_element_by_xpath('//*[@id="react-root"]/div/div/div[2]/main/div/div/div/div[1]/div/div[2]/div/div/div/div/div[5]/div[2]/a/span[1]/span').text
followers

'2,9 M'

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [27]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'
driver.get(url)

In [28]:
#your code
langs = [driver.find_elements_by_tag_name('strong')[i].text for i in tqdm(range(len(driver.find_elements_by_tag_name('strong'))))][1:-1]

  0%|          | 0/12 [00:00<?, ?it/s]

In [29]:
langs

['Español',
 'English',
 '日本語',
 'Русский',
 'Deutsch',
 'Français',
 'Italiano',
 '中文',
 'Português',
 'العربية']

In [30]:
arts = [driver.find_elements_by_tag_name('bdi')[i].text for i in tqdm(range(len(driver.find_elements_by_tag_name('bdi'))))]
arts = [''.join(a[:-1].split()) for a in tqdm(arts) if a != '']
arts.pop(9)
arts

  0%|          | 0/37 [00:00<?, ?it/s]

  0%|          | 0/37 [00:00<?, ?it/s]

['1755000',
 '6458000',
 '1314000',
 '1798000',
 '2667000',
 '2400000',
 '1742000',
 '1256000',
 '1085000',
 '1159000']

In [31]:
langs_arts = dict(zip(langs, arts))
langs_arts

{'Español': '1755000',
 'English': '6458000',
 '日本語': '1314000',
 'Русский': '1798000',
 'Deutsch': '2667000',
 'Français': '2400000',
 'Italiano': '1742000',
 '中文': '1256000',
 'Português': '1085000',
 'العربية': '1159000'}

#### A list with the different kind of datasets available in data.gov.uk

In [32]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'
driver.get(url)

In [33]:
#your code 
dbs = [driver.find_elements_by_class_name('govuk-link')[i].text 
       for i in tqdm(range(len(driver.find_elements_by_class_name('govuk-link'))))][4:]
dbs

  0%|          | 0/18 [00:00<?, ?it/s]

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [34]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'
driver.get(url)

In [35]:
#your code
languages = [driver.find_elements_by_tag_name('tr')[i].text.split()[1:5] for i in tqdm(range(1,11))]
languages

  0%|          | 0/10 [00:00<?, ?it/s]

[['Mandarin', 'Chinese', '929.0', '11.922%'],
 ['Spanish', '474.7', '5.994%', 'Indo-European'],
 ['English', '372.9', '4.922%', 'Indo-European'],
 ['Hindi', '(Sanskritised', 'Hindustani)[11]', '343.9'],
 ['Bengali', '233.7', '4.000%', 'Indo-European'],
 ['Portuguese', '232.4', '2.870%', 'Indo-European'],
 ['Russian', '154.0', '2.000%', 'Indo-European'],
 ['Japanese', '125.3', '1.662%', 'Japonic'],
 ['Western', 'Punjabi[12]', '92.7', '1.204%'],
 ['Yue', 'Chinese', '85.2', '0.949%']]

In [36]:
langs = {}

for i,e in tqdm(enumerate(languages)):
    if e[0][1].isalpha() and e[1][1].isalpha() and e[2][1].isalpha():
        
        lang = (e[0]+ ' ' +e[1] + ' '+ e[2]).split('[')[0]
        speakers = e[3] + ' millions'
        langs[f'{lang}'] = speakers
        continue
        
    elif e[0][1].isalpha() and e[1][1].isalpha():
        
        lang = (e[0]+ ' ' +e[1]).split('[')[0] 
        speakers = e[2] + ' millions'
        langs[f'{lang}'] = speakers
        
    else:
        lang = e[0]
        speakers = e [1] + ' millions'
        langs[f'{lang}'] = speakers
langs

0it [00:00, ?it/s]

{'Mandarin Chinese': '929.0 millions',
 'Spanish': '474.7 millions',
 'English': '372.9 millions',
 'Hindi (Sanskritised Hindustani)': '343.9 millions',
 'Bengali': '233.7 millions',
 'Portuguese': '232.4 millions',
 'Russian': '154.0 millions',
 'Japanese': '125.3 millions',
 'Western Punjabi': '92.7 millions',
 'Yue Chinese': '85.2 millions'}

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [37]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/elchiringuitotv?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor'
driver.get(url)

time.sleep(3)
try: 
    driver.find_element_by_xpath('//*[@id="layers"]/div/div[2]/div/div/div/div[2]/div[1]/div/span/span').click()
except:
    pass

In [38]:
# your code
tweets = [driver.find_elements_by_class_name('css-901oao.r-1nao33i.r-37j5jr.r-a023e6.r-16dba41.r-rjixqe.r-bcqeeo.r-bnwqim.r-qvutc0')[i].text.replace('\n', '') 
          for i in tqdm(range(len(driver.find_elements_by_class_name('css-901oao.r-1nao33i.r-37j5jr.r-a023e6.r-16dba41.r-rjixqe.r-bcqeeo.r-bnwqim.r-qvutc0'))))]

tweets

  0%|          | 0/6 [00:00<?, ?it/s]

['\u2066@BorjaIglesias9\u2069 y el ÚLTIMO DÍA de MERCADO“¿BELLERÍN? No tengo ni idea, el mercado siempre sorprende”.Vía \u2066@GonzaloTortosa\u2069 http://twitch.tv/elchiringuitotv',
 'MONCHI llega a las OFICINAS del SEVILLAA la 13:30h, rueda de prensa del director deportivo. La veremos en nuestro ESPECIAL. \u2066@Silviaverdec\u2069http://twitch.tv/elchiringuitotv',
 'REGUILÓN, su pasado MADRIDISTA y el mensaje a la afición rojiblanca"Estamos en el MISMO BARCO". https://twitch.tv/elchiringuitotv',
 '"La decisión de JORDI ALBA es... que SE QUEDA"La información de @jotajordi13 en el ESPECIAL junto a @EduAguirre7, @ChrisBlasco3 y @alexsilvestreSZ. https://twitch.tv/elchiringuitotv',
 'La PRESENTACIÓN de REGUILÓN con el Atlético, en directo.https://twitch.tv/elchiringuitotv',
 'Raúl Ojeda, responsable de competiciones de @LaLiga¿Cómo funciona el sistema de fichajes? Lo está contando EN DIRECTOhttps://twitch.tv/elchiringuitotv']

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [39]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'
driver.get(url)

In [40]:
# your code
title = [driver.find_elements_by_class_name('titleColumn')[i].text.split('. ')[1][:-7] 
         for i in tqdm(range(len(driver.find_elements_by_class_name('titleColumn'))))]
release = [driver.find_elements_by_class_name('titleColumn')[i].text.split('. ')[1][-5:-1] 
           for i in tqdm(range(len(driver.find_elements_by_class_name('titleColumn'))))]
director = [driver.find_elements_by_tag_name('a')[i].get_attribute('title').split(' (')[0] 
            for i in tqdm(range(len(driver.find_elements_by_tag_name('a')))) 
            if '(' in driver.find_elements_by_tag_name('a')[i].get_attribute('title')]
stars = [float(driver.find_elements_by_tag_name('strong')[i].text.replace(',','.')) 
         for i in tqdm(range(len(driver.find_elements_by_tag_name('strong'))))]

  0%|          | 0/250 [00:00<?, ?it/s]

  0%|          | 0/250 [00:00<?, ?it/s]

  0%|          | 0/612 [00:00<?, ?it/s]

  0%|          | 0/250 [00:00<?, ?it/s]

In [41]:
imbd = {'Title': title,
       'Release': release,
       'Director': director,
       'Stars': stars}

imbd_df = pd.DataFrame(imbd)

imbd_df.head()

                   Title Release              Director  Stars
0        Cadena perpetua    1994        Frank Darabont    9.2
1             El padrino    1972  Francis Ford Coppola    9.2
2    El caballero oscuro    2008     Christopher Nolan    9.0
3   El padrino: Parte II    1974  Francis Ford Coppola    9.0
4  12 hombres sin piedad    1957          Sidney Lumet    8.9

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [42]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'
driver.get(url)

In [43]:
#your code
movie = [driver.find_elements_by_class_name('titleColumn')[i].text.split('. ')[1][:-7] 
         for i in tqdm(range(len(driver.find_elements_by_class_name('titleColumn'))))][:10]
year = [driver.find_elements_by_class_name('titleColumn')[i].text.split('. ')[1][-5:-1] 
        for i in tqdm(range(len(driver.find_elements_by_class_name('titleColumn'))))][:10]

  0%|          | 0/250 [00:00<?, ?it/s]

  0%|          | 0/250 [00:00<?, ?it/s]

In [44]:
links =[driver.find_elements_by_tag_name('a')[i].get_attribute('href') 
        for i in tqdm(range(len(driver.find_elements_by_tag_name('a'))))]

  0%|          | 0/612 [00:00<?, ?it/s]

In [45]:
links = links[51:71:2] # en el indice 51 empiezan las peliculas

In [46]:

summary = []

for l in tqdm(links):
    driver.get(l)
    
    s = driver.find_element_by_class_name('sc-16ede01-2.gXUyNh').text
    summary.append(s)

  0%|          | 0/10 [00:00<?, ?it/s]

In [47]:
films_dict = {'Title': movie,
             'Year': year,
             'Summary' : summary}

top_10 = pd.DataFrame(films_dict)
top_10

,Title,Year,Summary
0,Cadena perpetua,1994,Andy Dufresne es encarcelado por matar a su es...
1,El padrino,1972,El envejecido patriarca de una dinastía del cr...
2,El caballero oscuro,2008,Cuando la amenaza conocida como el Joker causa...
3,El padrino: Parte II,1974,Se retratan los inicios de la vida y la carrer...
4,12 hombres sin piedad,1957,Un miembro del jurado trata de evitar un error...
5,La lista de Schindler,1993,En la Polonia ocupada por los alemanes durante...
6,El señor de los anillos: El retorno del rey,2003,Gandalf y Aragorn lideran el mundo de los homb...
7,Pulp Fiction,1994,"Las vidas de dos mafiosos, un boxeador, la esp..."
8,El señor de los anillos: La comunidad del anillo,2001,Un hobbit de la Comarca y ocho compañeros empr...
9,"El bueno, el feo y el malo",1966,"Durante la Guerra de Secesión, tres cazarrecom..."

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [48]:
#https://openweathermap.org/current
#city = city=input('Enter the city:')
#url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'
#driver.get(url)

In [49]:
# your code
# Necesita API Key nos olvidamos de ella

#### Book name,price and stock availability as a pandas dataframe.

In [50]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'
driver.get(url)

In [51]:
#your code
books = [driver.find_elements_by_class_name('col-xs-6,col-sm-4.col-md-3.col-lg-3')[i].text.split('\n')[:-1] 
                         for i in tqdm(range(len(driver.find_elements_by_class_name('col-xs-6,col-sm-4.col-md-3.col-lg-3'))))]

  0%|          | 0/20 [00:00<?, ?it/s]

In [52]:
columns = ['Title', 'Price', 'Stock']

books_df = pd.DataFrame(books, columns=columns)

books_df

                                    Title   Price     Stock
0                      A Light in the ...  £51.77  In stock
1                      Tipping the Velvet  £53.74  In stock
2                              Soumission  £50.10  In stock
3                           Sharp Objects  £47.82  In stock
4            Sapiens: A Brief History ...  £54.23  In stock
5                         The Requiem Red  £22.65  In stock
6            The Dirty Little Secrets ...  £33.34  In stock
7                 The Coming Woman: A ...  £17.93  In stock
8                     The Boys in the ...  £22.60  In stock
9                         The Black Maria  £52.15  In stock
10  Starving Hearts (Triangular Trade ...  £13.99  In stock
11                  Shakespeare's Sonnets  £20.66  In stock
12                            Set Me Free  £17.46  In stock
13    Scott Pilgrim's Precious Little ...  £52.29  In stock
14                      Rip it Up and ...  £35.02  In stock
15                  Our Band Could Be ...  £57.25  In stock
16                                   Olio  £23.88  In stock
17        Mesaerion: The Best Science ...  £37.59  In stock
18           Libertarianism for Beginners  £51.33  In stock
19                It's Only the Himalayas  £45.17  In stock

In [53]:
# retocamos un poco la columna title para que aparezca el título completo

In [54]:
title = [driver.find_elements_by_tag_name('a')[i].get_attribute('title') 
 for i in tqdm(range(len(driver.find_elements_by_tag_name('a'))))
    if driver.find_elements_by_tag_name('a')[i].get_attribute('title') != '']

  0%|          | 0/94 [00:00<?, ?it/s]

In [55]:
books_df.Title = title

books_df

                                                Title   Price     Stock
0                                A Light in the Attic  £51.77  In stock
1                                  Tipping the Velvet  £53.74  In stock
2                                          Soumission  £50.10  In stock
3                                       Sharp Objects  £47.82  In stock
4               Sapiens: A Brief History of Humankind  £54.23  In stock
5                                     The Requiem Red  £22.65  In stock
6   The Dirty Little Secrets of Getting Your Dream...  £33.34  In stock
7   The Coming Woman: A Novel Based on the Life of...  £17.93  In stock
8   The Boys in the Boat: Nine Americans and Their...  £22.60  In stock
9                                     The Black Maria  £52.15  In stock
10     Starving Hearts (Triangular Trade Trilogy, #1)  £13.99  In stock
11                              Shakespeare's Sonnets  £20.66  In stock
12                                        Set Me Free  £17.46  In stock
13  Scott Pilgrim's Precious Little Life (Scott Pi...  £52.29  In stock
14                          Rip it Up and Start Again  £35.02  In stock
15  Our Band Could Be Your Life: Scenes from the A...  £57.25  In stock
16                                               Olio  £23.88  In stock
17  Mesaerion: The Best Science Fiction Stories 18...  £37.59  In stock
18                       Libertarianism for Beginners  £51.33  In stock
19                            It's Only the Himalayas  £45.17  In stock

In [56]:
driver.quit()