# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
from pymongo import MongoClient

In [2]:
str_conn='mongodb://localhost:27017'

cursor=MongoClient(str_conn)

cursor

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [3]:
cursor.list_database_names()

['admin', 'companies', 'config', 'local']

In [4]:
db = cursor.companies

In [5]:
colec = db.companies

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [6]:
# Your Code

query={'name':'Babelgum'}
select={'name': True, '_id': False}

res=colec.find(query, select)

list(res)

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [7]:
# Your Code

query={'number_of_employees':{'$gt':5000}}
select={'name': True, 'number_of_employees':True ,'_id': False}

res=colec.find(query,select).sort('number_of_employees',-1).limit(20)

list(res)

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'LG', 'number_of_employees': 177000},
 {'name': 'Ford', 'number_of_employees': 171000},
 {'name': 'Boeing', 'number_of_employees': 160000},
 {'name': 'Digital Equipment Corporation', 'number_of_employees': 140000},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'Comcast', 'number_of_employees': 100000},
 {'name': 'Bertelsmann', 'number_of_employees': 100000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [8]:
# Your Code
query={'$and':[{'founded_year':{'$gte':2000}},
               {'founded_year':{'$lte':2005}}]}
select={'name': True, 'founded_year':True ,'_id': False}

res=colec.find(query,select).limit(20)

list(res)

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Technorati', 'founded_year': 2002},
 {'name': 'AddThis', 'founded_year': 2004},
 {'name': 'Veoh', 'founded_year': 2004},
 {'name': 'Jingle Networks', 'founded_year': 2005},
 {'name': 'Meetup', 'founded_year': 2002},
 {'name': 'LifeLock', 'founded_year': 2005},
 {'name': 'Wesabe', 'founded_year': 2005},
 {'name': 'Jangl SMS', 'founded_year': 2005},
 {'name': 'SmugMug', 'founded_year': 2002},
 {'name': 'Jajah', 'founded_year': 2005},
 {'name': 'Skype', 'founded_year': 2003}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [9]:
# Your Code

query={'$and':[{'acquisition.price_amount':{'$gt':1e9},
              'founded_year':{'$lt':2010}}]}
select={'name': True, 
        'acquisition.price_amount':True ,
        'acquisition.acquiring_company.name':True,
        '_id': False}

res=colec.find(query,select).sort('acquisition.price_amount',-1).limit(5)

list(res)

[{'name': 'BEA Systems',
  'acquisition': {'price_amount': 8500000000.0,
   'acquiring_company': {'name': 'Oracle Corporation'}}},
 {'name': 'Navteq',
  'acquisition': {'price_amount': 8100000000.0,
   'acquiring_company': {'name': 'Nokia'}}},
 {'name': 'Pixar',
  'acquisition': {'price_amount': 7400000000.0,
   'acquiring_company': {'name': 'The Walt Disney Company'}}},
 {'name': 'Sun Microsystems',
  'acquisition': {'price_amount': 7400000000.0,
   'acquiring_company': {'name': 'Oracle Corporation'}}},
 {'name': 'LSI',
  'acquisition': {'price_amount': 6600000000.0,
   'acquiring_company': {'name': 'Avago Technologies'}}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [10]:
# Your Code

query={'$and':[{'number_of_employees':{'$lt':1000}},
               {'founded_year':{'$lt':2005}}]}
select={'name': True, 'number_of_employees':True ,'_id': False}

res=colec.find(query,select).sort('number_of_employees',-1).limit(10)

list(res)

[{'name': 'Infinera Corporation', 'number_of_employees': 974},
 {'name': 'NorthPoint Communications Group', 'number_of_employees': 948},
 {'name': '888 Holdings', 'number_of_employees': 931},
 {'name': 'Forrester Research', 'number_of_employees': 903},
 {'name': 'SonicWALL', 'number_of_employees': 900},
 {'name': 'Webmetrics', 'number_of_employees': 900},
 {'name': 'Cornerstone OnDemand', 'number_of_employees': 881},
 {'name': 'Mozilla', 'number_of_employees': 800},
 {'name': 'Buongiorno', 'number_of_employees': 800},
 {'name': 'Yelp', 'number_of_employees': 800}]

### 6. All the companies that don't include the `partners` field.

In [11]:
# Your Code

query={'partners':{'$exists':False}} # Localiza todos los registros que no tengan creado un campo partner, independientemente de que este esté vación

select={'name': True, '_id': False}

res=colec.find(query,select).limit(5)

list(res)

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [12]:
# Your Code
query={'category_code':{'$type':10}} # {$type:10} localiza los nulos dentro de una key

select={'name': True, '_id': False}

res=colec.find(query,select).limit(5)

list(res)

[{'name': 'Collective'},
 {'name': 'Snimmer'},
 {'name': 'KoolIM'},
 {'name': 'Level9 Media'},
 {'name': 'VidKing'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [13]:
# Your Code
query={'$and':[{'number_of_employees':{'$gte':1e2}},
               {'number_of_employees':{'$lt':1e3}}]}
select={'name': True, 'number_of_employees':True ,'_id': False}

res=colec.find(query,select).sort('number_of_employees',-1).limit(10)

list(res)

[{'name': 'Datamonitor', 'number_of_employees': 984},
 {'name': 'Infinera Corporation', 'number_of_employees': 974},
 {'name': 'Box', 'number_of_employees': 950},
 {'name': 'NorthPoint Communications Group', 'number_of_employees': 948},
 {'name': '888 Holdings', 'number_of_employees': 931},
 {'name': 'Forrester Research', 'number_of_employees': 903},
 {'name': 'SonicWALL', 'number_of_employees': 900},
 {'name': 'Relax Solutions Pvt Ltd', 'number_of_employees': 900},
 {'name': 'Webmetrics', 'number_of_employees': 900},
 {'name': 'InMobi', 'number_of_employees': 900}]

### 9. Order all the companies by their IPO price in a descending order.

In [14]:
# Your Code
query={'acquisition.price_amount':{'$gt':0}}
select={'name': True, 
        'acquisition.price_amount':True ,
        'acquisition.acquiring_company.name':True,
        '_id': False}

res=colec.find(query,select).sort('acquisition.price_amount',-1).limit(5)

list(res)

[{'name': 'T-Mobile',
  'acquisition': {'price_amount': 39000000000.0,
   'acquiring_company': {'name': 'AT&T'}}},
 {'name': 'Nextel Communications',
  'acquisition': {'price_amount': 35000000000.0,
   'acquiring_company': {'name': 'Sprint Nextel'}}},
 {'name': 'Goodrich Corporation',
  'acquisition': {'price_amount': 18400000000.0,
   'acquiring_company': {'name': 'United Technologies'}}},
 {'name': 'BEA Systems',
  'acquisition': {'price_amount': 8500000000.0,
   'acquiring_company': {'name': 'Oracle Corporation'}}},
 {'name': 'Navteq',
  'acquisition': {'price_amount': 8100000000.0,
   'acquiring_company': {'name': 'Nokia'}}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [15]:
# Your Code
query={}
select={'name': True, 
        'number_of_employees':True ,
        '_id': False}

res=colec.find(query,select).sort('number_of_employees',-1).limit(10)

list(res)

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [16]:
# Your Code
query={'founded_month':{'$gt':5}}
select={'name': True, 
        'founded_month':True ,
        '_id': False}

res=colec.find(query,select).limit(10) # Limito la salida a 10, con 1000 el notebook tiende a ♾️

list(res)

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9},
 {'name': 'Digg', 'founded_month': 10},
 {'name': 'Omnidrive', 'founded_month': 11},
 {'name': 'Postini', 'founded_month': 6},
 {'name': 'Geni', 'founded_month': 6},
 {'name': 'Fox Interactive Media', 'founded_month': 6},
 {'name': 'eBay', 'founded_month': 9},
 {'name': 'Joost', 'founded_month': 10},
 {'name': 'Plaxo', 'founded_month': 11}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [17]:
# Your Code
query = {'$and':[{'founded_year':{'$lt':2000}},
                {'acquisition.price_amount':{'$gt':1e4}}]}

select = {'_id':False,
         'name':True,
         'founded_year':True,
         'acquisition.price_amount':True}

res=colec.find(query,select).limit(10)

list(res)

[{'name': 'Postini',
  'founded_year': 1999,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'SideStep',
  'founded_year': 1999,
  'acquisition': {'price_amount': 180000000}},
 {'name': 'Recipezaar',
  'founded_year': 1999,
  'acquisition': {'price_amount': 25000000}},
 {'name': 'Cyworld',
  'founded_year': 1999,
  'acquisition': {'price_amount': 7140000}},
 {'name': 'PayPal',
  'founded_year': 1998,
  'acquisition': {'price_amount': 1500000000}},
 {'name': 'Snapfish',
  'founded_year': 1999,
  'acquisition': {'price_amount': 300000000}},
 {'name': 'Neopets',
  'founded_year': 1999,
  'acquisition': {'price_amount': 160000000}},
 {'name': 'Sun Microsystems',
  'founded_year': 1982,
  'acquisition': {'price_amount': 7400000000.0}},
 {'name': 'Zappos',
  'founded_year': 1999,
  'acquisition': {'price_amount': 1200000000}},
 {'name': 'Alibaba',
  'founded_year': 1999,
  'acquisition': {'price_amount': 1000000000}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [18]:
# Your Code
query ={'$and': [{'acquisition.price_amount':{'$gt':0}},
         {'acquisition.acquired_year':{'$gt':2010}}]}

select = {'_id':False,
          'name':True,
          'acquisition': True}

res=colec.find(query,select).sort('acquisition.price_amount',-1).limit(3) 

list(res)

[{'name': 'T-Mobile',
  'acquisition': {'price_amount': 39000000000.0,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/03/20/in-the-race-for-more-spectrum-att-is-acquiring-t-mobile-for-39-billion/',
   'source_description': 'In The Race For More Spectrum, AT&T Is Acquiring T-Mobile For $39 Billion',
   'acquired_year': 2011,
   'acquired_month': 3,
   'acquired_day': 20,
   'acquiring_company': {'name': 'AT&T', 'permalink': 'at-t'}}},
 {'name': 'Goodrich Corporation',
  'acquisition': {'price_amount': 18400000000.0,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.masshightech.com/stories/2011/09/19/daily37-UTC-shells-out-184-billion-for-Goodrich.html',
   'source_description': 'UTC shells out $18.4 billion for Goodrich',
   'acquired_year': 2011,
   'acquired_month': 9,
   'acquired_day': 22,
   'acquiring_company': {'name': 'United Technologies',
    'permalink': 'united-technologies'}}},
 {'name': 'LSI',
  'acquisition': {'price_amount': 6600000000.0,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://dealbook.nytimes.com/2013/12/16/avago-to-buy-lsi-for-6-6-billion/?_r=0',
   'source_description': 'Avago to Buy LSI for $6.6 Billion',
   'acquired_year': 2013,
   'acquired_month': 12,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Avago Technologies',
    'permalink': 'avago-technologies'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [19]:
# Your Code
query ={}
select = {'_id':False,
          'name':True,
          'founded_year': True}

res=colec.find(query,select).sort('founded_year',-1).limit(10) 

list(res)

[{'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Gimigo', 'founded_year': 2013},
 {'name': 'Clowdy', 'founded_year': 2013},
 {'name': 'Fixya', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'SEOGroup', 'founded_year': 2013},
 {'name': 'Pikk', 'founded_year': 2013},
 {'name': 'WhosCall', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [20]:
# Your Code
query={'founded_month':{'$lte':7}}
select={'name': True, 
        'founded_month':True ,
        'acquisition.price_amount':True,
        '_id': False}

res=colec.find(query,select).sort('acquisition.price_amount',-1).limit(10)

list(res)

[{'name': 'Sun Microsystems',
  'founded_month': 2,
  'acquisition': {'price_amount': 7400000000.0}},
 {'name': 'Siebel Systems',
  'founded_month': 1,
  'acquisition': {'price_amount': 5850000000.0}},
 {'name': 'Netscape',
  'founded_month': 4,
  'acquisition': {'price_amount': 4200000000.0}},
 {'name': 'SuccessFactors',
  'founded_month': 5,
  'acquisition': {'price_amount': 3400000000.0}},
 {'name': 'YouTube',
  'founded_month': 2,
  'acquisition': {'price_amount': 1650000000}},
 {'name': 'Zappos',
  'founded_month': 1,
  'acquisition': {'price_amount': 1200000000}},
 {'name': 'Meraki',
  'founded_month': 4,
  'acquisition': {'price_amount': 1200000000}},
 {'name': 'Tumblr',
  'founded_month': 2,
  'acquisition': {'price_amount': 1100000000}},
 {'name': 'Alibaba',
  'founded_month': 6,
  'acquisition': {'price_amount': 1000000000}},
 {'name': 'Kiva Systems',
  'founded_month': 1,
  'acquisition': {'price_amount': 775000000}}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [26]:
# Your Code.
query = {'$and':[{'category_code':'web'},
                 {'number_of_employees':{'$gt':4000}}]}

select = {'_id':0,
          'name':1,
          'category_code':1,
          'number_of_employees':1}

res =colec.find(query,select).sort('number_of_employees',-1).limit(10)

list(res)

[{'name': 'Experian', 'category_code': 'web', 'number_of_employees': 15500},
 {'name': 'eBay', 'category_code': 'web', 'number_of_employees': 15000},
 {'name': 'Yahoo!', 'category_code': 'web', 'number_of_employees': 13600},
 {'name': 'Rakuten', 'category_code': 'web', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group',
  'category_code': 'web',
  'number_of_employees': 10000},
 {'name': 'Groupon', 'category_code': 'web', 'number_of_employees': 10000},
 {'name': 'Webkinz', 'category_code': 'web', 'number_of_employees': 8657},
 {'name': 'AOL', 'category_code': 'web', 'number_of_employees': 8000},
 {'name': 'Expedia', 'category_code': 'web', 'number_of_employees': 4400}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [30]:
# Your Code

query = {'acquisition.price_amount':{'$gt':1e7},'acquisition.price_currency_code':'EUR'}

select = {'_id':0,
          'name':1,
          'acquisition.price_amount':1,
          'aqcuisitions.price_currency_code':1}

res =colec.find(query,select).limit(10)

list(res)

[{'name': 'ZYB', 'acquisition': {'price_amount': 31500000}},
 {'name': 'Apertio', 'acquisition': {'price_amount': 140000000}},
 {'name': 'Greenfield Online', 'acquisition': {'price_amount': 40000000}},
 {'name': 'Webedia', 'acquisition': {'price_amount': 70000000}},
 {'name': 'Wayfinder', 'acquisition': {'price_amount': 24000000}},
 {'name': 'Tuenti Technologies', 'acquisition': {'price_amount': 70000000}},
 {'name': 'BioMed Central', 'acquisition': {'price_amount': 43400000}}]

In [31]:
# Your Code

# Estas query tendría que darme resultados. He estoado probando alternativas
# y no he conseguido solucionarlo. 

query = {'%and':[{'aqcuisition.price_currency_code':'EUR'},
                 {'acquisition.price_amount':{'$gt':1e7}}]}

select = {'_id':0,
          'name':1,
          'acquisition.price_amount':1,
          'aqcuisitions.price_currency_code':1}

res =colec.find(query,select).limit(10)

list(res)

[]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [63]:
# Your Code
query = {'acquisition.acquired_month':{'%lte':3}}

select = {'_id': 0,
         'name': 1,
         'acquisition':1}

res = colec.find(query,select).limit(10)

list(res)

[{'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'name': 'NetRatings',
  'acquisition': {'price_amount': 327000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://login.vnuemedia.com/hr/login/login_subscribe.jsp?id=0oqDem1gYIfIclz9i2%2Ffqj5NxCp2AC5DPbVnyT2da8GyV2mXjasabE128n69OrmcAh52%2FGE3pSG%2F%0AEKRYD9vh9EhrJrxukmUzh532fSMTZXL42gwPB80UWVtF1NwJ5UZSM%2BCkLU1mpYBoHFgiH%2Fi0f6Ax%0A9yMIVxt47t%2BHamhEQ0nkOEK24L',
   'source_description': 'Nielsen buys rest of NetRatings',
   'acquired_year': 2007,
   'acquired_month': 2,
   'acquired_day': None,
   'acquiring_company': {'name': 'Nielsen', 'permalink': 'nielsen'}}},
 {'name': 'blogTV',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2013/03/13/younow-buys-blogtv/',
   'source_description': 'Live Social Video Network YouNow Acquires Streaming Service BlogTV',
   'acquired_year': 2013,
   'acquired_month': 3,
   'acquired_day': 13,
   'acquiring_company': {'name': 'YouNow', 'permalink': 'younow'}}},
 {'name': 'Livestream',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': '',
   'source_description': 'company',
   'acquired_year': 2008,
   'acquired_month': 1,
   'acquired_day': 1,
   'acquiring_company': {'name': 'Adviqo', 'permalink': 'adviqo'}}},
 {'name': 'iContact',
  'acquisition': {'price_amount': 169000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://techcrunch.com/2012/02/28/vocus-buys-email-marketing-company-icontact-for-169-million/',
   'source_description': 'Vocus Buys Email Marketing Company iContact For $169 Million',
   'acquired_year': 2012,
   'acquired_month': 2,
   'acquired_day': 28,
   'acquiring_company': {'name': 'Vocus', 'permalink': 'vocus'}}},
 {'name': 'Coghead',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.techcrunch.com/2009/02/19/sap-acquires-cogheads-technology-as-it-looks-towards-the-cloud/',
   'source_description': 'SAP Acquires Cogheadâ€™s Technology As It Looks Towards The Cloud',
   'acquired_year': 2009,
   'acquired_month': 2,
   'acquired_day': 19,
   'acquiring_company': {'name': 'SAP', 'permalink': 'sap'}}},
 {'name': 'Dailymotion',
  'acquisition': {'price_amount': 168000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2013/02/22/orange-acquired-dailymotion-for-168-million-by-buying-out-the-remaining-51-stake/',
   'source_description': 'Orange Acquired Dailymotion For $168 Million By Buying Out Remaining 51% Stake [Update: Orange Confirms]',
   'acquired_year': 2013,
   'acquired_month': 2,
   'acquired_day': 22,
   'acquiring_company': {'name': 'Orange', 'permalink': 'orange'}}},
 {'name': 'Netvibes',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.marketwatch.com/story/dassault-systemes-acquires-netvibes-2012-02-09',
   'source_description': 'Dassault Systemes Acquires Netvibes',
   'acquired_year': 2012,
   'acquired_month': 2,
   'acquired_day': 9,
   'acquiring_company': {'name': 'Dassault Systemes',
    'permalink': 'dassault'}}},
 {'name': 'Flickr',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://news.cnet.com/Yahoo-buys-photo-sharing-site-Flickr/2100-1038_3-5627640.html?tag=mncol;txt',
   'source_description': 'CNET',
   'acquired_year': 2005,
   'acquired_month': 3,
   'acquired_day': None,
   'acquiring_company': {'name': 'Yahoo!', 'permalink': 'yahoo'}}},
 {'name': 'BabyCenter',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.investor.jnj.com/releasedetail.cfm?releaseid=63836',
   'source_description': 'Johnson & Johnson Acquires BabyCenter From eToys, Inc. Leading Online Destination for Parents Plans for Continued Expansion of Operations',
   'acquired_year': 2001,
   'acquired_month': 3,
   'acquired_day': 2,
   'acquiring_company': {'name': 'Johnson & Johnson',
    'permalink': 'johnson-johnson'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
query = {}

In [67]:
# Your Code
query = {'$and':[{'founded_year':{'$gte':2000}},
                 {'founded_year':{'$lte':2010}},
                 {'acquisition.acquired_year':{'gte':2011}}]}


select = {'_id': 0,
         'name': 1,
         'founded_year':1}

res = colec.find(query,select).limit(10)

list(res)

[]

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code:

# He estado investigando y no sé como hacer esta quiery. esta opción la me la ha dado GPT, pero no la conisgoi comprender

db.coleccion.find({ $expr: { $gt: [ { $subtract: [ "$campo1", "$campo2" ] }, 3 ] } }).map(d => Boolean(d))